<div class="offer-product-card">
  <div class="offer-product-card__image-wrapper">
    <div class="offer-product-card__labels">
      <span class="offer-product-card__label offer-product-card__label-promo">АКЦИЯ</span>
      <span class="offer-product-card__label offer-product-card__label-availability">В наличии</span>
    </div>
    <img src="imgs/offer-card-img.png">
  </div>

  <div class="offer-product-card__content">
    <h3 class="offer-product-card__name">Делитель проб  желобчатый ДП 5</h3>
    <p class="offer-product-card__category">Оборудование для дробления и измельчения</p>
  </div>
</div>
